@{
    ViewData["Title"] = "Home Page";
}

<div align="center">
    <h2>Dispečink</h2>
    <h4>Jednoduchá a rychlá cesta, jak řídit vaše stroje.</h4>
</div>

@* <img src="~/images/VacationChill1280x853.jpg" alt="Vacation Picture"/> *@
<div class="container">
    <img src="~/images/tss-logo.jpg" alt="Vacation Picture"/>
</div>
