@model Role

@{
    ViewData["Title"] = "Edit";
}

<h2>Editace</h2>

<h4>Role</h4>
<h2><b>@Html.DisplayFor(model => model.Name)</b></h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Name" />
            <div class="form-group">
                <label asp-for="Shortening" class="control-label"></label>
                <input asp-for="Shortening" class="form-control" />
                <span asp-validation-for="Shortening" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zpět na přehled</a>
</div>

