@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager

@if (_signInManager.IsSignedIn(User))
{

    <div class="dropdown adminMenu">
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                aria-expanded="false">
                Admin Menu
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" asp-area="" asp-controller="StrojCalendar"
                asp-action="StrojManagerOverviewV2"><b>Přehled kalendáře</b></a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="AbsenceTypes" asp-action="Index"><b>Zakázky</b></a>
                </li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Index"><b>Uživatelé a role</b></a>
                </li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Strojs" asp-action="Index"><b>Správa strojů</b></a>
                </li>
                <li><a class="dropdown-item" asp-area="" asp-controller="StrojMistrs" asp-action="Index"><b>Správa
                            strojníků</b></a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index"><b>Správa
                            oddělení</b></a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Teams" asp-action="Index"><b>Správa skupin
                            strojů</b></a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Zakazniks" asp-action="Index"><b>Správa zákazníků</b></a></li>
            </ul>
        }
        else if (User.IsInRole("Manager"))
        {
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                aria-expanded="false">
                Manažer Menu
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" asp-area="" asp-controller="StrojCalendar"
                asp-action="StrojManagerOverviewV2"><b>Přehled kalendáře</b></a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="AbsenceTypes" asp-action="Index"><b>Zakázky</b></a>
                </li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Index"><b>Uživatelé a role</b></a>
                </li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Strojs" asp-action="Index"><b>Správa strojů</b></a>
                </li>
                <li><a class="dropdown-item" asp-area="" asp-controller="StrojMistrs" asp-action="Index"><b>Správa
                            strojníků</b></a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index"><b>Správa
                            oddělení</b></a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Teams" asp-action="Index"><b>Správa skupin
                            strojů</b></a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Zakazniks" asp-action="Index"><b>Správa zákazníků</b></a></li>
            </ul>
        }
    </div>
    <div class="adminMenu">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account"
                asp-action="UserProfile">@User.Identity.Name</a></li>
            <li class="nav-item"><a class="nav-link" id="logoutLink" asp-controller="Account" asp-action="LogOut">Log
                    Out</a>
            </li>
        </ul>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @* <li><a id="registerLink" asp-controller="Account" asp-action="Register">Register</a></li> *@
        <li><a class="btn btn-secondary id=" loginLink" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
