body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #ffffff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.barva_zakazky {
    background-color: #99ccff;
}

#tabulka-radek-sedy {
    background-color: #f1f1f1;
}

.planned-vacation {
    background-color: #ffe699;
}

.absence-color-0 {
    background-color: #ccff99;
}

.absence-color-1 {
    background-color: #99ffe6;
}

.absence-color-2 {
    background-color: #99ccff;
}

.absence-color-3 {
    background-color: #cc99ff;
}

.today {
    border: 1px dotted darkgray;
}

.calendar-box {
    border: 1px dotted darkgray;
}

#calendar-box-vma {
    max-width: 100px;
    padding: 2px;
}

#calendar-box-button-vma {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    min-width: 50px;
    min-height: 20px;
    padding: 1px;
    text-decoration: none;
    /* background-color: lightblue; */
    text-align: center;
    border-radius: 5px;
    border-bottom: solid 1px;

}

.start-week {
    border-left: 2px solid darkgray;
}

#weekend {
    background-color: #ffb3b3;
}

.holiday {
    background-color: #ff9999;
}

.calendar-table tbody tr td {
    width: 12.5%;
}

.calendar-table tbody tr td a {
    display: block;
    color: #333;
}

.calendar-overview-table tbody tr td a {
    display: block;
    color: #333;
}

.calendar-overview-table {
    font-size: 11px;
}

img {
    width: 100%;
    height: auto;
}

.calendar-button {
    display: block;
    max-width: 150px;
}

.user-filteritem {
    padding: 0 10px
}

.user-filter-header {
    margin-right: 85px;
}

.flex-container {
    display: flex;
}

.hidden-loading {
    display: block;
}

.show-loading {
    display: none;
}

.table-center {
    text-align: center;
}

.filterButton {
    padding-right: 100px;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
  }
  
  dt {
    grid-column-start: 1;
    padding-right: 10px;
  }
  
  dd {
    grid-column-start: 2;
  }

  nav.menu ul a:hover, .aktivni a {
    border-bottom: 2px solid #f1f1f1;
}


.highlight {
    border-bottom: 2px solid #9b9b9b;
    font-weight: bold;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
section {
    height: 100vh;
  }
  
  /* NAVIGATION */
  nav {
    width: 90%;
    margin: 0 auto;
    background: #fff;
    padding: 50px 0;
    box-shadow: 0px 5px 0px #dedede;
  }
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #555;
  }

/* SHIFT */
nav.shift ul li a {
    position:relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: #91640F;
  }
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }

.adminMenu ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #6c757d;
    text-transform: none;
    margin: 0 10px;
  }

  .form-vma{
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  /* tooltip start*/
  .tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 200px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
    text-align: start;
  }

/*   .tooltip-text::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background-color: #192733;
    padding: 5px;
    z-index: 1;
  } */
  
  .hover-text:hover .tooltip-text {
    visibility: visible;
  }
  
  #right {
    top: -8px;
    left: 120%;
  }
  
  #right::before {
    top: 35%;
    left: -2%;
  }
  
  .hover-text {
/*     position: relative;
    display: inline-block;
    margin: 40px;
    font-family: Arial;
    text-align: center; */
  }

/*   #fade {
    opacity: 0;
    transition: opacity 0.5s;
  } */
  
  #delay {
    opacity: 0;
    /* transition: opacity 0.2s; */
    transition-delay: 1.5s;
  }
  
/*   .hover-text:hover #fade { opacity: 1; } */
  .hover-text:hover #delay { 
    opacity: 0.9;
 }
/* toolptip end */  